.review-cta {
  /* border: 1px solid var(--color-primary-50); */
  /* padding: var(--size-100); */
  /* border-radius: var(--border-radius); */
  margin-top: 1rem;
  display: block;
}

@media screen and (min-width: 576px) {
  .review-cta {
    display: inline-block;
  }
}

.review-cta .review-cta__ctas {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: var(--size-200);
  flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
  .review-cta .review-cta__ctas {
    flex-direction: row;
  }
}

.review-cta .review-cta__ctas button {
  flex: 1;
}