.review-bonus {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--border-radius);
  margin-top: var(--size-300);
  padding: var(--size-200);
  border: 1px solid var(--color-muted-200);

}

@media screen and (min-width: 768px) {
  .review-bonus {
    flex-direction: row;
  }
}

.review-bonus__image {
  text-align: center;
  flex: 1;
}

.review-bonus__image img {
  margin-top: 0px;
}

.review-bonus__offer {
  flex: 0 0 40%;
}

.review-bonus__terms {
  font-size: 12px;
  color: var(--color-muted-600);
}

.review-bonus__cta {
  flex: 1;
  padding: 0 var(--size-400);
}

.review-bonus__cta .text {
  margin-right: var(--size-100);
}

.bonus-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.2rem;
  padding: 1rem;
  background-color: var(--color-primary-50);
  font-family: var(--font-family-heading);

  background: linear-gradient(to bottom,
      oklch(98% 0.010 254.6),
      oklch(95.5% 0.020 255));
  border-radius: var(--border-radius);
}

.bonus-div .title {
  font-size: 14px;
  font-weight: 600;
}

.bonus-div .bonus {
  font-size: var(--size-600);

}

.bonus-div .plus {
  font-size: 14px;
  color: var(--color-muted-600);
}