.recommended-block {
  background: #f9f9f9;
  border-left: 6px solid #f1f1f1;
  border-radius: 8px;
  margin-bottom: 1.33rem;
  margin-top: 1.33rem;
  padding: .75rem .75rem 1.25rem .75rem;
}

.recommended-block__title {
  margin-top: 0 !important;
  display: flex; 
  align-items: center;
  gap: 0.65rem;
}

.recommended-block__title .icon {
  height: 24px;
  width: auto; 
  display: flex; 
  align-items: center;
}

.recommended-block__title .icon svg path {
  fill: green;
}

.recommended-block__title .title {
  font-weight: 600;
  font-size: 18px; 
  font-family: var(--font-family-heading);
}