

// .note-block {
//   border-left: 6px solid var(--color-bg-800);
//   background: var(--color-bg-100);
//   border-radius: var(--border-radius);
//   padding: var(--size-300);
//   margin-top: var(--size-500);
// }

// .note-block .icon {
//   font-size: var(--size-500);
//   margin-right: var(--size-100);
// }

// .note-block__title {
//   display: flex;
//   align-items: center;
//   font-weight: bold;
// }

// FAQs
.faqs {
  background-color: var(--color-bg-100);
  border-radius: var(--border-radius);
  padding: var(--size-400);
}