.breadcrumbs {
    padding-block: var(--size-400);

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: var(--size-50);
        align-items: center;

        li + li::before {
            content: ">";
            padding: 0 0.5rem;
            color: #666;
        }
    }
    
}