.breadcrumbs {
	margin-top: var(--size-500);
	margin-bottom: 1rem;

	&__layout {
		display: flex;
		gap: var(--size-100);
		align-items: center;

		&--item {
			font-size: 14px;
			letter-spacing: 0.8px;

			&:not(:last-child)::after {
				letter-spacing: 0.8px;
				content: "/";
				font-weight: 900;
				margin-left: var(--size-100);
				color: var(--color-muted-200);
			}
		}
	}

	// Cat Pill
	.cat-pill {
		width: auto;
		font-size: 14px;
		letter-spacing: 0.7px;
		font-family: var(--font-family-heading);
		border-radius: 2rem;
		background-color: var(--color-bg-50);
		padding: var(--size-100) var(--size-200);
		border: 1px solid var(--color-muted-200);
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: var(--color-bg-400);
			border-color: var(--color-primary-200);
			color: var(--color-link-hover);
			text-decoration: none;
		}
	}
}