@use "_breakpoints" as *;

/* 
*
* Buttons
*
*/

button.round-icon {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-700);
  font-size: 22px;
  padding: var(--size-200);
  cursor: pointer;
  background-color: var(--color-primary-50);

  &:hover,
  &:focus {
    background-color: var(--color-primary-100);
  }
}

.button {
  font-family: var(--font-family-body);
  font-size: 1rem;
  padding: var(--size-300) var(--size-500);
  border: 1px solid transparent;
  border-radius: 8px;
  line-height: 1.25;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 var(--focus-width) var(--focus-color);
    outline: 0;
  }

  &--small,
  &--square {
    padding: var(--size-200);
  }

  &--small {
    font-size: 14px;
    line-height: 1;
  }

  &__primary {
    background-color: var(--color-primary-500);
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: var(--color-primary-700);
      color: #ffffff;
    }
  }

  &__outline {
    background-color: var(--color-primary-50);
    color: var(--color-primary-700);

    &:hover,
    &:focus {
      background-color: var(--color-primary-100);
      color: inherit;
    }
  }

  &__icon {
    min-width: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0;
    background: none;
    border: 1px solid var(--color-muted-200);
    color: var(--color-primary-900);

    &:focus {
      outline: none;
    }

    svg {
      stroke: var(--color-muted-500);
    }
  }

  &__plain {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    background: transparent;
    font-weight: 600;
  }
}

/* 
*
* Bonus Code
*
*/

.bonus-code {
  cursor: pointer;

  &__label {
    color: var(--color-muted-400);
    margin-right: var(--size-50);
  }

  &__icon {
    margin-left: var(--size-50);
  }

  svg {
    fill: var(--color-muted-400);

    &.bi-check-circle-fill {
      fill: green;
    }
  }

  &:hover,
  &:focus {
    svg:not(.bi-check-circle-fill) {
      fill: var(--color-primary-500);
    }
  }
}

/* 
*
* Legacy Buttons (Old Theme)
*
*/

.btn-cus-blue {
  color: #fff !important;
  background: var(--color-primary-500);
  border: 1px solid transparent !important;

  &:hover,
  &:active,
  &:focus {
    background: var(--color-primary-700);
    color: inherit;
    border: 1px solid transparent !important;
  }

  &:focus {
    box-shadow: 0 0 0 var(--focus-width) var(--focus-color);
    outline: 0;
  }
}

.btn-cus-light {
  color: var(--color-primary-700) !important;
  border: 1px solid var(--color-primary-500) !important;

  &:hover,
  &:active,
  &:focus {
    background: var(--color-primary-100) !important;
    border: 1px solid var(--color-primary-500) !important;
  }
}

/* 
*
* Deprecated: Paragraph Primary and Alt Buttons
*
*/

p.p-primary-btn,
p.p-alt-btn {
  display: inline-block;
  margin-bottom: 0.4rem;
}

p.p-primary-btn>a,
p.p-alt-btn>a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: none !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  transition: ease-in-out;
  font-family: var(--font-family-heading);
}

p.p-primary-btn>a {
  color: #fff !important;
  background: var(--color-primary-500);

  &:hover {
    background: var(--color-primary-800);
  }

  &:focus {
    box-shadow: 0 0 0 var(--focus-width) var(--focus-color);
    outline: 0;
  }
}