@use "_breakpoints" as *;

.main--title {
  font-size: var(--size-600);
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 0;
  max-width: 70ch;

  @include breakpoint(small) {
    font-size: 36px;
  }
}

.main--excerpt {
  color: var(--color-muted-400);
  font-size: 20px;
  max-width: 70ch;
  margin-top: var(--size-200);

  p {
    margin: 0;
  }
}


.main--published {
  margin-top: var(--size-400);
  display: flex;
  align-items: center;

  span {
    margin-right: 9px;
    font-size: 14px;
    color: var(--color-muted-400);
    letter-spacing: 0.7px;

    a {
      font-size: 16px;
      font-weight: bold;
    }

    // time {
    //  
    // }

    &:not(:last-child)::after {
      margin-left: 9px;
      content: "|";
      color: var(--color-muted-300);
    }
  }
}