@use "_breakpoints" as *;

.main--title {
  font-size: var(--size-600);
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 0;
  max-width: 70ch;

  @include breakpoint(small) {
    font-size: 36px;
  }
}

.main--excerpt {
  color: var(--color-muted-400);
  font-size: 20px;
  max-width: 70ch;
  margin-top: var(--size-200);

  p {
    margin: 0;
  }
}


.main--published {
  margin-top: var(--size-400);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  span {
    margin-right: 8px;
    margin-top: 8px;
    font-size: 16px;
    color: var(--color-muted-400);
    letter-spacing: 0.5px;

    a {
      font-size: 16px;
      font-weight: bold;
    }

    &:not(:last-child)::after {
      margin-left: 8px;
      content: "|";
      font-size: 20px;
      color: var(--color-muted-200);
    }
  }
}

// 
.main--meta__section {
  background-color: var(--color-bg-50);
  border-radius: var(--border-radius);
  display: inline-flex;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: var(--size-100)
}

.main--meta__section .meta-content {
  font-size: 14px;
  line-height: 1.4
}

.main--meta__section .meta-content__title {
  color: var(--color-primary-600);
  font-weight: 700
}

.main--meta__section .meta-content__by {
  color: var(--color-muted-600);
  font-weight: 300;
  margin-top: .15rem
}

.main--meta__section .meta-content__date {
  color: var(--color-muted-400);
  font-weight: 300
}

.main--meta__section .meta-media {
  align-items: center;
  background-color: #fff;
  border-radius: 180%;
  display: inline-flex;
  height: 35px;
  justify-content: center;
  width: 35px
}

.main--meta__section .meta-media img {
  border-radius: 180%;
  height: auto;
  width: 100%
}

.main--meta__section .meta-media svg {
  height: 24px;
  width: 24px;
  fill: var(--color-primary-600)
}