footer {
  border-top: 1px solid var(--color-muted-200);

  .footer-list__container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .menu-item {
      margin-top: var(--size-300);
    }
  }


  .footer-social-icons {
    display: flex;
    gap: 1rem;

    // a:hover {
    // color: red;
    // }
  }
}