@use "_breakpoints" as *;

* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed !important;
  }
}

::selection {
  background: var(--color-primary-100);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: var(--font-family-body);
  color: rgb(28, 35, 52);
  line-height: 1.5;
}

.border-radius {
  border-radius: var(--border-radius);
}

figure {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

h2+.wp-block-image,
h3+.wp-block-image {
  margin-top: var(--size-400);
}

.wp-block-image {
  margin-top: var(--size-800);

  img {
    border: 1px solid var(--color-muted-200);
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
  }

  a {
    border: 0 !important;

    &:hover img,
    &:active img,
    &:focus img {
      opacity: 0.875;
    }
  }

  figcaption {
    padding: var(--size-300) 0;
    border-bottom: 1px solid var(--color-muted-200);
    color: var(--color-muted-600);
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }
}

blockquote {
  border-left: 5px solid var(--color-primary);
  background: var(--color-bg-400);
  padding: var(--size-400) var(--size-400) var(--size-400) var(--size-600);
  margin-top: var(--size-500);
  margin-bottom: 0;
  border-radius: 0.25rem;

  p:first-child {
    margin-top: var(--size-100);
  }

  cite {
    display: inline-block;
    margin-top: var(--size-400);
  }
}

.wp-block-columns>div>h2,
.wp-block-columns>div>h3 {
  margin-top: 0px;
}

@include breakpoint(medium) {
  .wp-block-columns {
    gap: 0;
  }
}

.main--content {
  .wp-caption {
    max-width: 100%;
  }

  blockquote+p {
    margin-top: var(--size-600);
  }

  li {
    margin-top: var(--size-300);
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: var(--border-radius);
  }

  p,
  ul,
  ol {
    margin-bottom: 0;
    margin-top: var(--size-400);
  }
}




iframe {
  max-width: 100% !important;
  margin-top: var(--size-500);
  overflow: hidden;
}

/*
*
* 
* YOUTUBE BLOCK
*
*
*/

.wp-block-embed {
  margin-top: var(--size-500);
}

.wp-block-embed-youtube .wp-block-embed__wrapper::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.wp-block-embed-youtube .wp-block-embed__wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.wp-block-embed-youtube .wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.wp-block-separator {
  margin: var(--size-700) 0;
  color: var(--color-muted-200);
}

/*
* Spinner
**/
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-900) var(--size-200);
}

.loading-spinner circle {
  transform-origin: 50% 50%;
  animation: spinner-rotate 1s linear infinite;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.spinner-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  padding: var(--size-900) var(--size-200);

  svg.spinner {
    animation: spin 1s linear infinite;
  }
}



/*
*
* Ads
*
*/

.advert {
  background: var(--color-bg-50);
  padding-block: var(--size-400);

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    max-width: 100%;
    height: auto;
  }

  a:hover img,
  a:active img,
  a:focus img {
    filter: brightness(80%);
  }

  &__bottom {
    margin-top: var(--size-600);
    border-top: 1px solid var(--color-muted-200);
  }

  &__top {
    border-bottom: 1px solid var(--color-muted-200);
  }
}

/*
*
*
* Fix for legacy small images on posts 
* 
*/
.single-inline-img {
  display: inline;

  @include breakpoint(medium) {
    display: block;
  }

  figure {
    margin-bottom: 0.5rem;

    @include breakpoint(medium) {
      margin-bottom: 1rem;
      margin-right: 0rem;
      width: 100%;
    }
  }
}


/**
* Term Boxes 
**/

// On single-review and taxonomy-query
.term-boxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.box {
  background: #fff;
  overflow: hidden;
  border-radius: var(--border-radius);
  padding: var(--size-200) 0;

  &__content {
    .title {
      font-size: 16px;
      color: var(--color-primary-900);
      font-weight: 500;
      margin: 0;
      padding: var(--size-200) var(--size-300) var(--size-400);
      user-select: none;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0;

      li {
        height: 50px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        display: flex;

        color: inherit;
        user-select: none;

        &:has(a):hover,
        &:has(a):active,
        &:has(a):focus {
          background-color: var(--color-bg-200);
          color: var(--color-link-hover);
        }

        &:not(:has(a)) {
          padding: var(--size-200) var(--size-300);
        }

        &.is-active {
          background-color: var(--color-bg-200);
          color: var(--color-link);
        }

        a {
          display: flex;
          gap: var(--size-300);
          align-items: center;
          width: 100%;
          color: inherit;
          text-decoration: none;
          user-select: none;
          -webkit-user-drag: none;
          cursor: pointer;
          padding: var(--size-200) var(--size-300);
        }

        img {
          width: 40px;
          height: auto;
          object-fit: cover;
          user-select: none;
          -webkit-user-drag: none;
          pointer-events: auto;
        }

        .dot {
          margin-left: auto;
          margin-right: 13px;
          font-size: 28px;
          color: var(--color-primary-400);
        }

        &.list-item-hidden {
          display: none;
          visibility: hidden;

          &.reveal {
            display: flex;
            visibility: visible;
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--size-200);
    padding: 0 var(--size-300);

    button {
      svg {
        transform: rotate(0deg);
        transition: transform .1s ease-in-out;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.faqs {
  background-color: var(--color-bg-100);
  border-radius: var(--border-radius);
  padding: var(--size-400);
}


.author-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-muted-200);
  padding-top: var(--size-700);

  &__layout {
    max-width: 920px;
  }

  // .card-chengdu:nth-child(3n) {
  //   img {
  //     display: none;
  //   }
  // }
}

// Writign and moving

// .review-cta {
//   border: 1px solid var(--color-primary-50);
//   padding: var(--size-100);
//   border-radius: var(--border-radius);
//   margin-top: 1rem;
//   display: block;

//   @include breakpoint(small) {
//     display: inline-block;
//   }


//   .review-cta__ctas {
//     display: flex;
//     justify-content: start;
//     flex-direction: column;
//     gap: var(--size-200);
//     flex-wrap: wrap;

//     @include breakpoint(small) {
//       flex-direction: row;
//     }

//     button {
//       flex: 1;
//     }
//   }
// }

.xmas-layout {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--size-600);
  column-gap: var(--size-400);
  padding-bottom: var(--size-800);

  @include breakpoint(small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(medium) {
    grid-template-columns: repeat(3, 1fr);
  }


  &__item {
    // border-top: 2px dotted #ccc;
    display: flex;
    flex-direction: column;

    .placeholder-title {
      color: var(--color-muted-400);
    }

    .xmas-card__title {
      margin-top: var(--size-200);
      text-align: center;
    }

    .card {
      height: auto;
      margin-top: var(--size-200);
      flex: 1;
    }


    .xmas-card-placeholder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: var(--border-radius);
      background-color: var(--color-bg-200);
      border: 2px dotted var(--color-muted-300);

      svg {
        width: 30px;
        height: 30px;

        path {
          stroke: var(--color-muted-300);

        }
      }
    }

    // margin-top: 2rem;
    &__item:nth-child(23),
    &__item:nth-child(24) {
      @include breakpoint(medium) {
        grid-column: 1 / -1; // take full row
        display: grid;
        grid-template-columns: repeat(2, 1fr); // inner 50/50
      }
    }

    &:nth-child(7),
    &:nth-child(14),
    &:nth-child(24),
    &:nth-child(25) {
      @include breakpoint(small) {
        grid-column: 1 / -1;
      }
    }
  }
}


// @include breakpoint(small) {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   row-gap: var(--size-300);
//   column-gap: var(--size-300);

//   .xmas-card:last-child {
//     grid-column: 1 / -1;
//   }
// }

// @include breakpoint(medium) {
//   grid-template-columns: repeat(3, 1fr);

//   .xmas-card:last-child {
//     grid-column: 1 / -1;
//   }
// }

// @include breakpoint(large) {
//   grid-template-columns: repeat(4, 1fr);

//   .xmas-card:last-child {
//     grid-column: 1 / -1;
//   }
// }