/*
* SIDEBAR MENU
**/

.admin-bar .background-drawer {
  top: 94px;
}

.background-drawer {
  position: fixed;
  display: block;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  z-index: 3000;
  transition: transform 0.1s ease-in-out;
  top: 60px;
  left: 0px;
  transform: translateX(-100%);
  padding: var(--size-400) 0;
  overflow-y: scroll;

  @media screen and (min-width: $breakpoint-large) {
    right: auto;
    width: 320px;
  }

  &.show {
    visibility: unset;
    transform: translateX(0);
  }

  #menu-sidebar-nav {
    list-style-type: none;
    padding-left: 0;
    user-select: none;

    a {
      display: block;
      padding-top: var(--size-300);
      padding-bottom: var(--size-300);
      padding-left: var(--size-100);
      padding-right: var(--size-200);
      font-size: 14px;

      &:hover {
        background-color: var(--color-muted-100);
      }
    }

    &>li {
      &:not(:first-child) {
        border-top: 1px solid var(--color-muted-100);
      }

      &>a {
        font-size: 18px;
      }
    }

    .menu-item-has-children {
      cursor: pointer;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "link button"
        "submenu submenu";

      &>a {
        grid-area: link;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .chevron-wrapper {
        height: 100%;
        grid-area: button;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: var(--color-muted-100);
        }

        .chevron {
          content: '';
          width: 50px;
          height: 24px;
          background: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-chevron-down\' viewBox=\'0 0 16 16\'%3E%3Cpath fill-rule=\'evenodd\' d=\'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\'/%3E%3C/svg%3E') no-repeat center center;
          background-size: contain;
          transform: rotate(0deg);
          transition: transform 0.075s ease-in-out;

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }

      .sub-menu {
        grid-area: submenu;
        visibility: hidden;
        height: 0px;
        list-style-type: none;
        padding: 0;

        &.active {
          display: block;
          visibility: visible;
          height: auto;
          flex-basis: 100%;
          background-color: var(--color-bg-50);
          border-top: 1px solid var(--color-bg-600);
          border-bottom: 1px solid var(--color-bg-600);
        }
      }
    }
  }
}