@use "_breakpoints" as *;

.swiper-plain-row {
  display: grid;
  margin-top: var(--size-300);
  grid-template-columns: 1fr;
  gap: var(--size-200);

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.swiper {
  .swiper-controls {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-left: auto;

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      width: 35px;
      margin: 0;
      height: 35px;

      &:after {
        content: none;
      }
    }

    .swiper-button-prev svg,
    .swiper-button-next svg {
      width: 24px;
      height: 24px;
    }
  }

  .swiper-wrapper {
    height: auto;
    margin-top: var(--size-300);
    visibility: hidden;
    opacity: 0;
    animation: reveal 0.5s ease-in-out forwards;
    animation-delay: 0.7s;

    @keyframes reveal {
      to {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-primary-800);
  }
}

.swiper-primary {
  width: 100%;
  height: auto;

  .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2.6rem;

    .swiper-slide {
      // width: calc(50% - 10px);
      height: auto;

      opacity: 0;
      transform: translateY(20px);
      animation: fadeIn 0.5s ease-out forwards;

      // @include breakpoint(medium) {
      //   width: calc(25% - 10px);
      // }
    }
  }

  .swiper-pagination {
    bottom: 20px;
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}