@import '_breakpoints';

.swiper { 
  .swiper-controls {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-left: auto;
  
    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      width: 35px;
      margin: 0;
      height: 35px;

      &:after {
        content: none;
      }
    
      // &:not(:disabled) {
        // color: var(--color-primary-900);
        // cursor: pointer;
      // }

      // &:after {
      //   display: none;
      //   visibility: hidden;
      // }
    }

    .swiper-button-prev svg,
    .swiper-button-next svg {
      width: 24px;
      height: 24px;
    }
  }

  .swiper-wrapper {
    // padding-top: 4px;
    margin-top: var(--size-300);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-primary-800);
  }
}

.swiper-primary {
  width: 100%;
  height: auto;
  // margin-top: -22px;

  .swiper-wrapper {
    padding-bottom: 2.6rem;
    justify-content: space-between;
    
    .swiper-slide {
      // Need proper math here
      width: calc(50% - 10px);
      height: auto;
      
      opacity: 0;
      transform: translateY(20px);
      animation: fadeIn 1s ease-out forwards;
      
        @media screen and (min-width: $breakpoint-medium) {
          width: calc(25% - 10px);
        }
      }
    }
      
  .swiper-pagination {
    bottom: 20px;
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
    /* Reset the transform for smooth transition */
  }
}

.swiper-big {
  .swiper-wrapper {
      padding-bottom: 2.6rem;
      justify-content: space-between;
    }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: auto;
    border-radius: var(--border-radius);
    padding: var(--size-600) var(--size-400);

    &__light {
      
      h3, p, div {
        color: #000;
      }
    }
  
    &__dark {
      h3, p, div {
        color: #FFF;
      }
    }

    &__content-left {
      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      img {
        border-radius: var(--border-radius); 
      }

      // @media screen and (min-width: $breakpoint-large) {}
    }

    &__content-right {
      height: 100%;
      display: flex; 
      flex-direction: column;
      justify-content: space-around;
    }

    &__button-group {
      margin-top: auto;
      display: flex;
      gap: 0.75rem;
      justify-content: flex-start;

      .button {
        flex: 1;
      }
    }



    &__homepage-image {
      display: none;
      visibility: hidden;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow-large);

      @media screen and (min-width: $breakpoint-large) {
        display: block;
        visibility: visible;
      }
    }
  }
}

