
/*
*
* CUSTOM TABLE
*
*/

.custom-table-scroll {
  overflow-x: auto;

  table {
    min-width: 750px;
  }
}

.custom-table {
  margin-top: var(--size-500);
  text-align: left;
  width: 100%;
  border-collapse: separate !important;
  border-spacing: 0;
  border: 1px solid var(--color-muted-200);
  border-radius: var(--border-radius);
}

.custom-table thead {
  background: var(--color-bg-400);
  border-bottom: 1px solid var(--color-muted-200);
  font-size: var(--size-400);
  font-family: var(--font-family-heading);
}

.custom-table thead tr th {
  padding: var(--size-200);
}

.custom-table tbody tr td {
  padding: 0.9em 0.6em;
  font-size: 16px;
  border-bottom: 1px solid var(--color-muted-200);
}

.custom-table tbody tr:last-child td {
  border-bottom: 0px;
}

@media screen and (max-width: 676px) {
  .custom-table tbody tr td {
    font-size: 13px;
  }

  .custom-table thead tr th {
    font-size: 14px;
  }
}

/* Used on the bonus and streamer posttypes */
.chaser-table {
  width: 100%;
  background: var(--tps-bg-secondary-color);
  font-family: var(--font-family-heading);
  border-collapse: collapse;

  tr {
    // background-color: #ffffff;
    
    td {
      font-size: var(--size-400);
      padding: var(--size-400) 0;
      border-bottom: 1px solid var(--color-muted-200);

      &:nth-child(2) {
        font-weight: 600;
        padding-left: var(--size-400);
      }

     
    }
    &:last-child {
      td {
        border-bottom: 0px;
      }
    }
   
  }
}