/*
* DEFAULT WP TABLE
*/

// .review--table {
//   .col-crypto {
// min-width: 150px;
/* Adjust based on your icon width */
// white-space: nowrap;
/* Keep icons on one line */
//   }
// }

figure.wp-block-table,
.main--table {
  margin: var(--size-600) 0 0;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--color-bg-700);
  border: 1px solid var(--color-muted-100);


  table {
    // border: 1px solid var(--color-muted-100);
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;

    thead {
      background-color: var(--color-bg-700);

      th {
        font-size: 14px;
        font-weight: 600;
        // color: var(--color-muted-200);
      }
    }

    thead,
    th,
    td {
      /* remove all default borders */
      border: 0;
    }

    th,
    td {
      padding: 14px 6px;
    }

    .center {
      text-align: center;
    }

    tbody {
      tr:not(:last-child) td {
        border-bottom: 1px solid var(--color-muted-100);
      }

      tr:nth-child(even) {
        background-color: var(--color-bg-50); // adjust to your preferred color
      }

      td {
        font-size: 14px;
      }

      img {
        margin: 0;
      }
    }
  }

  .wp-element-caption {
    margin-top: var(--size-200);
  }
}

/**
*
* RANK-TABLE
*
*/

.rank-table {

  table {
    table-layout: fixed;
    font-family: var(--font-family-heading);
  }

  tr {
    td {
      line-height: 1;
    }

    td.brand {
      display: flex;
      align-items: center;
      gap: var(--size-200);

      .rank {
        font-size: 50px;
        min-width: 63px;
        color: var(--color-muted-300);
        font-weight: bold;
      }

      img {
        width: 100px;
        height: 50px;
        border: 1px solid var(--color-muted-200);
      }
    }

  }

  tr.main-row {
    cursor: pointer;

    &:not(:last-of-type) td {
      border-bottom: 1px solid var(--color-muted-100);
    }
  }

  tr.sub-row {
    background-color: var(--color-bg-50);
  }
}

/**
* CUSTOM-TABLE
*/
.custom-table-scroll,
.table-scroll {
  overflow-x: auto !important;

  table {
    min-width: 750px;
  }
}

// DEPRECATED IF POSSIBLE
// .custom-table {
//   margin-top: var(--size-500);
//   text-align: left;
//   width: 100%;
//   border-collapse: separate !important;
//   border-spacing: 0;
//   border: 1px solid var(--color-muted-200);
//   border-radius: var(--border-radius);
// }

// .custom-table thead {
//   background: var(--color-bg-400);
//   border-bottom: 1px solid var(--color-muted-200);
//   font-size: var(--size-400);
//   font-family: var(--font-family-heading);
// }

// .custom-table thead tr th {
//   padding: var(--size-200);
// }

// .custom-table tbody tr td {
//   padding: 0.9em 0.6em;
//   font-size: 16px;
//   border-bottom: 1px solid var(--color-muted-200);
// }

// .custom-table tbody tr:last-child td {
//   border-bottom: 0px;
// }

// @media screen and (max-width: 676px) {
//   .custom-table tbody tr td {
//     font-size: 13px;
//   }

//   .custom-table thead tr th {
//     font-size: 14px;
//   }
// }

/*
* CHASER TABLE
* This becomes info table and moves to profile page? 
* Used on the bonus and streamer posttypes 
*/
.chaser-table {
  width: 100%;
  background: var(--tps-bg-secondary-color);
  font-family: var(--font-family-heading);
  border-collapse: collapse;

  tr {
    td {
      font-size: var(--size-400);
      padding: var(--size-400) 0;
      border-bottom: 1px solid var(--color-muted-200);

      &:nth-child(2) {
        font-weight: 600;
        padding-left: var(--size-400);
      }
    }

    &:last-child {
      td {
        border-bottom: 0px;
      }
    }

  }
}


// REVIEW TABLE
.review--table {

  td svg {
    color: var(--color-primary-500);
  }

  .col-type,
  .col-crypto {
    max-width: 140px;
  }

  .col-logo {
    a {
      border-bottom: 0 !important;
    }
  }

  .col-rank {
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    color: var(--color-muted-400);
  }

  .col-site {
    font-size: 18px;
  }

  .bc-branding {
    padding-inline: 12px;
  }

  .bonus-cell {
    display: flex;
    flex-direction: column;

    .title {
      color: var(--color-muted-400);
    }

    .bonus {
      font-size: 16px;
      font-weight: bold;
    }
  }
}