@use "_breakpoints" as *;


.archive {
  background-color: var(--color-bg-50);
}

.taxonomy-header {
  img {
    border: 1px solid var(--color-muted-200);
    padding: var(--size-100);
    height: 100px;
    width: auto;
    border-radius: var(--border-radius);
  }

  &__description {
    max-width: 920px;

    &>p:first-of-type {
      margin-top: 0;
    }
  }
}

.page-template-bonus-index {
  background-color: var(--color-bg-50);
}

.page-template-taxonomy-index {
  background-color: var(--color-bg-50);

  h1 {
    margin-top: 0;
  }
}