@use "_breakpoints" as *;

.tax-query {
  margin-top: var(--size-900);
  padding-bottom: var(--size-500); 
  border-bottom: 1px solid var(--color-muted-200);
  display: grid;
  gap: var(--size-500);
  grid-template-columns: 1fr;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 2fr;
  }

  @include breakpoint(medium) {
    grid-template-columns: 1fr 3fr;
  }
    

  &__header {

    &--content {
      h2 {
        padding: 0; 
        margin: 0;
      }
    }
  }

  &__results {

    // &--spinner {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   padding: var(--size-900) var(--size-200);
    // }
    
    &--layout {
      display: grid;
       
      gap: var(--size-500);
      grid-template-columns: 1fr;
      
      // @include breakpoint(medium) {
      //   grid-template-columns: repeat(2, 1fr);
      // }

      @include breakpoint(large) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

  }
}