@use "_breakpoints" as *;

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

/*
These were below. Hover was in use

a {
  color: #0074b3;
} */

// a:hover {
//   color: #0056b3;
// }

h1,
h2,
h3 {
  font-weight: 600;
}

h1,
.heading-1,
.h1 {
  font-size: 26px;
  font-weight: 700;

  @include breakpoint(large) {
    font-size: 36px;
  }
}

h2,
.heading-2,
.h2 {
  font-size: 24px;
  font-weight: 700;

  @include breakpoint(large) {
    font-size: 32px;
  }
}

h3,
.heading-3,
.h3 {
  font-size: 22px;

  @include breakpoint(large) {
    font-size: 28px;
  }
}

h4,
.heading-4,
.h4 {
  font-size: 18px;

  @include breakpoint(large) {
    font-size: 24px;
  }
}

h5,
.heading-5,
.h5 {
  font-size: 16px;

  @include breakpoint(large) {
    font-size: 18px;
  }
}

h6,
.heading-6,
.h6 {
  font-size: 16px;

  @include breakpoint(large) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--font-family-heading);
  color: var(--color-primary-900);
  letter-spacing: -0.015rem;
}

.main--content {

  h2,
  h3 {
    max-width: 35ch;
  }

  h2 {
    color: #333;
    font-size: var(--size-600);
    margin-top: var(--size-800);
  }

  h3 {
    color: #333;
    margin-top: var(--size-700);
    font-weight: 400;
  }

  h4 {
    font-weight: 400;
    color: #333;
    font-size: var(--size-500);
    margin-top: var(--size-500);
  }

  h5 {
    font-weight: 400;
    margin-top: var(--size-400);
  }

  p,
  ul,
  ol {
    font-size: clamp(1.09rem, 0.95rem + 0.45vw, 1.2rem);
  }

  a {
    &:not(.btn):not(.button):not(.tax-pill__link):not(.custom-card-link):not(.img-link) {
      text-decoration: none;
      border-bottom: 1px solid #dcdcdc;
      color: #0074b3;

      &:hover,
      &:focus {
        border-bottom: 1px solid #0074b3;
      }
    }
  }
}



/*
*
* LINKS
* 
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: var(--color-primary-900);

    &:hover,
    &:focus {
      color: var(--color-muted-400);
    }
  }
}

.ff-main {
  font-family: var(--font-family-heading);
}

.ff-secondary {
  font-family: var(--font-family-body);
}

.color-muted {
  color: var(--color-muted-400);
}

.bg-light {
  background: var(--color-bg-100);
}

.fs-xlarge {
  font-size: var(--size-600);
}

.fs-large {
  font-size: var(--size-500);
}

.fs-medium {
  font-size: var(--size-400);
}

.fs-small {
  font-size: var(--size-300);
}

.fs-xsmall {
  font-size: var(--size-200);
}