/*
*
* Footer 
*
*/
.footer-list__container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-list__container ul .nav-link {
  padding: 0.5em 0em;
  font-size: 0.9em;
  font-weight: 400;
}