@import 'breakpoints';

// Header
header {
  position: relative;
  z-index: 1000;
}

header.sticky-top {
  z-index: 1020;
  /* Adjust as needed */
}

/* Adjust the overlay to start below the header */
.page-overlay {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &.active {
    display: block;
  }
}

body.no-scroll {
  overflow: hidden;
}

// This should be global for desktop and mobile menu;
.menu-item a {
  color: var(--color-muted-400);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.01rem;
  user-select: none;
        
  &:hover,
  &:active {
    color: var(--color-muted-900);
  }
}

// nav
.nav-layout {
  height: 55px;
  padding: 0rem;
  display: flex;
  gap: var(--size-800);
  align-items: center;
  justify-self: space-between;

  &__logo {
    display: flex;
    align-items: center;
    flex: 1;

    @media screen and (min-width: $breakpoint-large) {
      flex: 0 0 80px;
    }

    img {
      width: 190px;
      height: auto;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: $breakpoint-large) {
      display: flex;
      justify-content: center;
      flex: 1;
      align-items: center;
    }

    .desktop-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style-type: none;
      flex: 1;

      @media screen and (min-width: $breakpoint-large) {
        height: 100%;
        visibility: visible;
        display: flex;
        align-items: center;
        gap: var(--size-200);
        font-size: var(--size-500);
        font-weight: 700;
        font-family: "Lexend", sans-serif;
      }


      > li {
        justify-content: center;
        align-items: center;
      }

      li {
        height: 100%;
        display: flex;


        &:hover {
          background: var(--color-bg-50);
        }

        a {
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: var(--size-400);
          padding-right: var(--size-400);
        }
        
        &.has-sub-menu {
          .sub-menu-wrapper {
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.1s ease-out; /* Adjust duration as needed */
            z-index: 999;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: var(--color-bg-50);
            border-bottom: 2px solid var(--color-muted-200);
            display: flex;
            justify-content: center;
          }

          &:hover {
            .sub-menu-wrapper {
              max-height: 1000px; /* Adjust the value as needed */
            }
          }
        }
      }

      .sub-menu {
        display: grid;
        width: 100%;
        padding: var(--size-600) 0;
        gap: var(--size-800);
        max-width: 1140px;
        padding-left: 0.75rem; 
        padding-right: 0.75rem;

                //max-width: 960px;
                // max-width: 720px;
                // max-width: 540px;

        grid-template-columns: repeat(2, 1fr);

        @media screen and (min-width: 768px) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 992px) {
          grid-template-columns: repeat(4, 1fr);
        }

        a {
          padding: 0;
        }
      }
    }
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.featured-navbar-item {
  display: inline-block;
  margin-left: 1rem;
  a {
    color: #ffffff !important;
    background: indianred;
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    &:hover,
    &:focus,
    &:active {
      filter: brightness(0.8);
    }
  }
}

/*
* SIDEBAR MENU
**/

.admin-bar .background-drawer {
  top: 94px;
}

.background-drawer {
  position: fixed;
  display: block;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  z-index: 3000;
  transition: transform 0.1s ease-in-out;
  top: 67px;
  left: 0px;
  transform: translateX(-100%);
  padding: var(--size-400) 0;
  overflow-y: scroll;

  @media screen and (min-width: $breakpoint-large) {
    right: auto;
    width: 320px;
  }

  &.show {
    visibility: unset;
    transform: translateX(0);
  }

  #menu-sidebar-nav {
    list-style-type: none;
    padding-left: 0;
    user-select: none;

    a {
      display: block;
      padding-top: var(--size-300);
      padding-bottom: var(--size-300);
      padding-left: var(--size-100);
      padding-right: var(--size-200);
      font-size: 14px;

      &:hover {
        background-color: var(--color-muted-100);
      }
    }

    & > li {
      &:not(:first-child) {
        border-top: 1px solid var(--color-muted-100);
      }

      & > a {
        font-size: 18px;
      }
    }

    .menu-item-has-children {
      cursor: pointer;
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "link button"
        "submenu submenu";

      &>a {
          grid-area: link;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }


      .chevron-wrapper {
        height: 100%; 
        grid-area: button;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: var(--color-muted-100);
        }

        .chevron {
          content: '';
          // display: flex;
          // align-items: center;
          // justify-self: center;
          width: 50px;
          height: 24px;
          background: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'16\' height=\'16\' fill=\'currentColor\' class=\'bi bi-chevron-down\' viewBox=\'0 0 16 16\'%3E%3Cpath fill-rule=\'evenodd\' d=\'M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\'/%3E%3C/svg%3E') no-repeat center center;
          background-size: contain;
          transform: rotate(0deg);
          transition: transform 0.075s ease-in-out;

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }

  

      .sub-menu {
        grid-area: submenu;
        visibility: hidden;
        height: 0px;
        list-style-type: none;
        padding: 0;

        &.active {
          display: block;
          visibility: visible;
          height: auto;
          flex-basis: 100%;
          padding: 1rem 0;
          background-color: var(--color-bg-50);
          border-top: 1px solid var(--color-bg-600);
          border-bottom: 1px solid var(--color-bg-600);
        }
      }
    }
  }
}

// New
.desktop-navigation {
  display: none;

  @media screen and (min-width: $breakpoint-large) {
    height: 100%;
    display: flex;
    align-items: center;
  }
}



