@import '_breakpoints';

// Header
header {
  position: relative;
  z-index: 1000;
}

header.sticky-top {
  z-index: 1020;
  /* Adjust as needed */
}

/* Adjust the overlay to start below the header */
.page-overlay {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  &.active {
    display: block;
  }
}

body.no-scroll {
  overflow: hidden;
}

// This should be global for desktop and mobile menu;
.menu-item a {
  color: var(--color-muted-400);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.01rem;
  user-select: none;
        
  &:hover,
  &:active {
    color: var(--color-muted-900);
  }
}

// nav
.nav-layout {
  height: 55px;
  padding: 0rem;
  display: flex;
  gap: var(--size-800);
  align-items: center;
  justify-self: space-between;

  &__logo {
    display: flex;
    align-items: center;
    flex: 1;

    @media screen and (min-width: $breakpoint-large) {
      flex: 0 0 80px;
    }

    img {
      width: 190px;
      height: auto;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: $breakpoint-large) {
      display: flex;
      justify-content: center;
      flex: 1;
      align-items: center;
    }
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

/*
* Featured Navbar Item
**/

.featured-navbar-item {
  display: inline-block;
  margin-left: 1rem;
  a {
    color: #ffffff !important;
    background: indianred;
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    &:hover,
    &:focus,
    &:active {
      filter: brightness(0.8);
    }
  }
}

// New
.desktop-navigation {
  display: none;

  @media screen and (min-width: $breakpoint-large) {
    height: 100%;
    display: flex;
    align-items: center;
  }
}



