.casino-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.casino-list__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.casino-list__item:first-child {
  margin-top: 0;
}

.casino-list__item > svg {
  flex-shrink: 0;
  color: var(--color-primary-400);
  width: 24px;
  height: 24px;
}

.casino-list__text a {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.casino-list__text a svg {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
}
