.error404 {
  background: var(--color-bg-50);

  main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .message404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
      margin: 0;
    }

    p.subtitle {
      margin-top: var(--size-200);
      color: var(--color-muted-400);
    }
  }
}