// Post, Page, Review content
.pattern.heading-toggle {
  margin-top: var(--size-400);
  padding-bottom: var(--size-200);
  padding-top: var(--size-200);
  border-bottom: 1px solid var(--color-muted-200);

  &+.pattern.heading-toggle {
    margin-top: 0;
  }

  .heading-toggle__title {
    margin: 0;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    button {
      svg {
        transform: rotate(0deg);
        transition: transform 0.1s ease-in-out;
      }

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }
}

.heading-toggle__content {
  max-height: 0px;
  height: auto;
  overflow: hidden;

  &.expanded {
    max-height: 3000px;
  }
}