@use "modules/_breakpoints" as *;

.message {
  margin: 0;
  padding: var(--size-300) 0;
  background: var(--color-bg-100);
  border-bottom: 1px solid var(--color-muted-200);

  &__body {
    display: flex;
    gap: var(--size-300);
    justify-content: space-between;
    flex-direction: row;
  }

  .title {
    margin: 0;
    font-size: var(--size-400);
    color: var(--color-muted-600);
    // font-weight: bold;
  }

  p {
    font-size: 14px;
    color: var(--color-muted-400);
    margin: var(--size-200) 0 0 0;
  }

  &.warning {
    background: oklch(97.1% 0.013 17.38);

  }

  &.active {
    background: oklch(98.2% 0.018 155.826);

    border-bottom: 1px solid var(--color-muted-200);

    .title {
      color: oklch(39.3% 0.095 152.535);
    }
  }
}

// .message {
//   margin: 0 0 var(--size-500);
//   padding: var(--size-500) var(--size-400);
//   background: var(--color-bg-100);
//   border-radius: var(--border-radius);

//   &.warning {
//     background: var(--color-bg-100);
//     border: 1px solid var(--color-muted-200);
//   }

//   &__body {
//     display: flex;
//     gap: var(--size-500);
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: column;

//     @include breakpoint(medium) {
//       flex-direction: row;
//     }
//   }

//   .title {
//     font-size: var(--size-500);
//     font-weight: bold;
//     margin: 0;
//   }

//   p {
//     color: var(--color-muted-700);
//     margin-bottom: 0;
//   }
// }