@use "modules/_breakpoints" as *;

.message {
  margin: 0;
  padding: var(--size-200) 0;
  background: var(--color-bg-50);
  border-bottom: 1px solid var(--color-muted-200);

  &__body {
    display: flex;
    gap: var(--size-300);
    justify-content: space-between;
    flex-direction: row;
  }

  .title {
    margin: 0;
    font-size: 14px;
    color: var(--color-muted-500);
    font-weight: normal;
    letter-spacing: 0.5px;

    .time {
      font-weight: bold;
    }
  }

  &.warning {
    // red
    background: oklch(97.1% 0.013 17.38);
  }

  &.active {
    // Green 50
    // background: oklch(98.2% 0.018 155.826);
    // border-bottom: 1px solid oklch(92.5% 0.084 155.995);
    // cyan
    // background-color: oklch(98.4% 0.019 200.873);
    // border-bottom: oklch(95.6% 0.045 203.388);
    // Purple
    // background-color: oklch(97.7% 0.014 308.299);
    // border-bottom: 1px solid oklch(93.6% 0.061 308.486);
    // Blue
    background-color: oklch(97.048% 0.01429 254.737 / 0.518);
    border-bottom: 1px solid oklch(93.2% 0.032 255.585);
  }

}

// .message {
//   margin: 0 0 var(--size-500);
//   padding: var(--size-500) var(--size-400);
//   background: var(--color-bg-100);
//   border-radius: var(--border-radius);

//   &.warning {
//     background: var(--color-bg-100);
//     border: 1px solid var(--color-muted-200);
//   }

//   &__body {
//     display: flex;
//     gap: var(--size-500);
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: column;

//     @include breakpoint(medium) {
//       flex-direction: row;
//     }
//   }

//   .title {
//     font-size: var(--size-500);
//     font-weight: bold;
//     margin: 0;
//   }

//   p {
//     color: var(--color-muted-700);
//     margin-bottom: 0;
//   }
// }