@use "modules/_breakpoints" as *;

.message {
  margin: 0 0 var(--size-500);
  padding: var(--size-500) var(--size-400);
  background: var(--color-bg-100);
  border-radius: var(--border-radius);

  &.warning {
    background: var(--color-bg-100);
    border: 1px solid var(--color-muted-200);
  }

  &__body {
    display: flex;
    gap: var(--size-500);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  .title {
    font-size: var(--size-500);
    font-weight: bold;
    margin: 0;
  }

  p {
    color: var(--color-muted-700);
    margin-bottom: 0;
  }
}