@use "modules/_breakpoints" as *;

body.search {

  .subtitle {
    color: var(--color-muted-400);
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  h1 {
    font-size: 14px; 
    font-weight: 600;
  }

  .filter-reset {
    font-size: 15px;
    color: var(--color-link);
    cursor: pointer;
  }




  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .filter-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .search-form-section {
    padding-top: var(--size-400);
    padding-bottom: var(--size-400);

    .search-form {
      &__layout {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-100);

      .search {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid var(--color-muted-200);
          width: 100%;
          box-sizing: border-box;
      
          input {
            flex: 1;
            font-size: var(--size-500);
            padding: 0.5rem 0.5rem 0.5rem 2px;
            box-sizing: border-box;
            border: 2px solid transparent;
            font-weight: 900;
      
            &:focus {
              outline: none;
              border: 2px solid var(--color-primary-500);
              border-radius: 4px;
              box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            }
          }
      
          button {
            svg {
              stroke-width: 2;
            }
          }
        }
      }

      .filter {
        display: block;
        flex: 1 0 100%; 

        @include breakpoint(medium) {
          display: none;
        }

        button {
          width: 100%;

          .filter-count {
            width: 20px;
            height: 20px; 
            color: #fff;
            background: indianred;
            border-radius: var(--border-radius);
            margin-left: var(--size-200);
          }

          // .filter-button-content {
            
          // }
        }
      }
    }
  }

  .search-results-section {
    padding-top: var(--size-400);
    padding-bottom: var(--size-400);
    
    .search-results-layout {
      display: grid; 
      grid-template-columns: 1fr; 
      gap: var(--size-600);

      @include breakpoint(medium) {
        grid-template-columns: 1fr 3fr;
      }

      &__filter {
        display: none;

        @include breakpoint(medium) {
          display: block;
        }
      }
    }
  }  
}




.search-pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--size-200);
  padding-bottom: var(--size-200);
}


.search-topics {
  padding-top: var(--size-200);
  
  border-top: 1px solid var(--color-muted-200);
  // overflow-x: scroll;


  &__layout {
    margin: var(--size-300) 0; 
    
    display: flex;
    gap: var(--size-200);
    flex-wrap: wrap;
    // white-space: nowrap;

    .tax-pill {
      flex: 0 0 auto;
      margin: 0;
    }
  }
}