@use "modules/_breakpoints" as *;

.single-review {
  background-color: var(--color-bg-50);

  h1 {
    margin-top: 0;
  }

  .introduction {
    font-size: 18px;
    margin-bottom: var(--size-600);
  }

  .section {
    margin-top: var(--size-800);

    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  .section-closed {
    padding: 0 var(--size-300);
    background-color: #fff;
    border: 1px solid var(--color-muted-200);
    margin-bottom: var(--size-800);
    border-radius: var(--border-radius);

    p {
      font-size: 16px;
    }
  }

  .review-header {
    display: flex;
    flex-direction: column;
    gap: var(--size-600);

    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr 1fr;

      &__cta {
        grid-column: 1 / -1;
      }
    }

    @include breakpoint(large) {
      display: grid;
      grid-template-columns: 1fr 3fr 2fr;
      grid-template-rows: 1fr;

      &__cta {
        grid-column: auto;
      }
    }

    &__logo {
      img {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);

        @include breakpoint(large) {
          width: 300px;
        }
      }
    }

    &__info {
      .excerpt {
        font-size: 18px;
        color: var(--color-muted-500);
      }
    }

    &__cta {
      .cta-box {
        background: #fff;
        border-radius: var(--border-radius);
        border: 1px solid var(--color-muted-200);
        padding: 1rem;

        p {
          font-size: 14px;
          color: var(--color-muted-400);
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            margin-right: var(--size-200);

            fill: #fff;

            path {
              stroke: var(--color-muted-500);
            }
          }
        }
      }
    }
  }

  .skye-section {
    margin-top: var(--size-600);

    .skye-section__content {

      figure.homepage-image {
        background-color: #fff;
        padding: var(--size-300);
        // border: 1px solid var(--color-muted-200);
        border-radius: var(--border-radius);
        margin-top: var(--size-400);

        img {
          border-radius: var(--border-radius);
          border: 1px solid var(--color-muted-200);
        }

        figcaption {
          margin-top: var(--size-200);
          font-size: 14px;
          color: var(--color-muted-700);
        }
      }

      >*:first-child {
        margin-top: 0 !important;
      }

      .content {
        .title {
          font-weight: bold;
        }

        h3,
        h3.wp-block-heading {
          font-size: 18px;
          font-weight: 500;

          @include breakpoint(medium) {
            font-size: 24px;
          }
        }

        h4,
        h4.wp-block-heading {
          font-size: 16px;
          font-weight: 600;

          @include breakpoint(medium) {
            font-size: 20px;
          }
        }
      }
    }
  }

  section.articles-box {
    background-color: #ffffff;
    border-radius: var(--border-radius);
    padding: var(--size-200) var(--size-100);
    border: 1px solid var(--color-muted-200);

    @include breakpoint(large) {
      padding: var(--size-600);
    }

    .title {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }

    .skye-section__content {
      .card-chengdu:last-child {
        border: 0;
      }
    }
  }

  .content-dropdown {
    margin-top: var(--size-200);
    margin-bottom: var(--size-200);
    padding-bottom: var(--size-200);
    border-bottom: 1px solid var(--color-muted-200);

    &__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .title {
        margin: 0;
      }

      svg.rotated {
        transform: rotate(180deg);
      }
    }

    &__content {
      height: 0px;
      overflow: hidden;

      >* {
        margin-top: var(--size-500);
      }

      &.expanded {
        height: auto;
      }
    }
  }
}




// .gallery {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
//   gap: 10px;

//   .gallery-item {
//     height: 200px;
//     border: 1px solid var(--color-muted-500);
//     background-size: cover;
//     background-position: top left;
//     border-radius: var(--border-radius);
//     position: relative;
//     cursor: zoom-in;

//     &::before {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-color: rgba(0, 0, 0, 0.6);
//       border-radius: var(--border-radius);
//       opacity: 0;
//       transition: opacity 0.3s ease;
//     }

//     &:hover {
//       &::before {
//         opacity: 1;
//       }
//     }
//   }
// }

// .gallery-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(0, 0, 0, 0.9);
//   justify-content: center;
//   align-items: center;
//   z-index: 999;
//   display: none;
//   overflow-y: scroll;

//   &.active {
//     display: flex;
//   }

//   .container {
//     height: 100%;
//   }

//   &__layout {
//     height: 100%;
//     display: flex;
//     flex-direction: column;


//     .gallery-overlay-header {
//       height: 100px;
//       padding: 1rem 0;
//       display: flex;
//       justify-content: flex-end;
//       align-items: center;

//       .close-overlay {
//         color: #fff;

//         svg {
//           width: 40px;
//           height: 40px;
//           cursor: pointer;
//         }
//       }
//     }


//     .gallery-overlay-content {

//       @include breakpoint(medium) {
//         flex: 1;
//       }

//       img {
//         width: 100%;
//         height: auto;
//         border-radius: var(--border-radius);
//         border: 1px solid var(--color-muted-500);
//       }
//     }

//     .gallery-overlay-footer {
//       padding: 1rem 0;


//       .gallery-item {

//         &::before {
//           background-color: rgba(0, 0, 0, 0.4);
//           opacity: 1;
//         }

//         &:hover {
//           &::before {
//             background-color: rgba(0, 0, 0, 0);
//           }
//         }

//         &.active {

//           border: 1px solid var(--color-primary-400);

//           &::before {
//             background-color: rgba(0, 0, 0, 0);
//           }
//         }
//       }
//     }
//   }
// }