@use "modules/_breakpoints" as *;

.single-review {
  background-color: var(--color-bg-50);

  h1 {
    margin-top: 0;
  }

  .introduction {
    font-size: 18px;
    margin-bottom: var(--size-600);
  }

  .wp-block-group {
    padding-bottom: var(--size-200);
    padding-top: var(--size-200);
    border-bottom: 1px solid var(--color-muted-200);

    .toggle-heading {
      margin: 0;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      button {
        svg {
          transform: rotate(0deg);
          transition: transform 0.1s ease-in-out;

          &.rotated {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .toggle-heading-content {
    max-height: 0px;
    height: auto;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    &.expanded {
      max-height: 5000px;
    }
  }



  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 10px;

    .gallery-item {
      height: 200px;
      border: 1px solid var(--color-muted-500);
      background-size: cover;
      background-position: top left;
      border-radius: var(--border-radius);
      position: relative;
      cursor: zoom-in;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: var(--border-radius);
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  .gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
    overflow-y: scroll;

    &.active {
      display: flex;
    }

    .container {
      height: 100%;
    }

    &__layout {
      height: 100%;
      display: flex;
      flex-direction: column;


      .gallery-overlay-header {
        height: 100px;
        padding: 1rem 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .close-overlay {
          color: #fff;

          svg {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
      }


      .gallery-overlay-content {

        @include breakpoint(medium) {
          flex: 1;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: var(--border-radius);
          border: 1px solid var(--color-muted-500);
        }
      }

      .gallery-overlay-footer {
        padding: 1rem 0;


        .gallery-item {

          &::before {
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 1;
          }

          &:hover {
            &::before {
              background-color: rgba(0, 0, 0, 0);
            }
          }

          &.active {

            border: 1px solid var(--color-primary-400);

            &::before {
              background-color: rgba(0, 0, 0, 0);
            }
          }
        }
      }
    }
  }

  .review-header {
    display: flex;
    flex-direction: column;
    gap: var(--size-600);

    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr 1fr;

      &__cta {
        grid-column: 1 / -1;
      }
    }

    @include breakpoint(large) {
      display: grid;
      grid-template-columns: 1fr 3fr 2fr;
      grid-template-rows: 1fr;

      &__cta {
        grid-column: auto;
      }
    }

    &__logo {
      img {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);

        @include breakpoint(large) {
          width: 250px;
        }
      }
    }

    &__info {
      .excerpt {
        font-size: 18px;
        color: var(--color-muted-500);
      }
    }

    &__cta {
      .cta-box {
        background: #fff;
        border-radius: var(--border-radius);
        border: 1px solid var(--color-muted-200);
        padding: 1rem;

        p {
          font-size: 14px;
          color: var(--color-muted-400);
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            margin-right: var(--size-200);

            fill: #fff;

            path {
              stroke: var(--color-muted-500);
            }
          }
        }
      }
    }
  }


  .details-section__boxes {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .box {
      background: #fff;
      overflow: hidden;
      border-radius: var(--border-radius);
      padding: var(--size-300) var(--size-200);

      &__content {
        .title {
          font-size: 1rem;
          color: var(--color-muted-500);
          font-weight: 600;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-top: var(--size-500);

          li {
            background-color: #f9f9f9;
            border-radius: 40px;
            padding: 0.2rem;
            font-size: 14px;
            display: flex;
            gap: var(--size-100);
            align-items: center;

            &.list-item-hidden {
              display: none;
              visibility: hidden;

              &.reveal {
                display: flex;
                visibility: visible;
              }
            }
          }
        }
      }


      &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: var(--size-200);

        button {
          svg {
            transform: rotate(0deg);
            transition: transform .1s ease-in-out;

            &.rotate {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  section.content {
    h3 {
      font-size: 18px;
      font-weight: 500;

      @include breakpoint(medium) {
        font-size: 24px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 600;

      @include breakpoint(medium) {
        font-size: 20px;
      }
    }

    img {
      border: 1px solid var(--color-muted-200);
      border-radius: var(--border-radius);
      max-width: 100%;
      height: auto;
    }

    .wp-caption {
      background-color: #f9f9f9;

      .wp-caption-text {
        margin-top: var(--size-200);
        font-size: 14px;
        color: var(--color-muted-500);
      }
    }
  }


  // .content-dropdown {
  //   margin-top: var(--size-200);
  //   margin-bottom: var(--size-200);
  //   padding-bottom: var(--size-200);
  //   border-bottom: 1px solid var(--color-muted-200);

  //   &__controls {
  //     display: flex;
  //     justify-content: space-between;
  //     align-items: center;
  //     cursor: pointer;

  //     .title {
  //       margin: 0;
  //     }
  //   }

  // &__content {
  //   >* {
  //     margin-top: var(--size-500);
  //   }
  // }
  // }
}