.site-latest-block {
  background: #f9f9f9;
  border-left: 6px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  border-radius: 8px;
  margin-bottom: 1.33rem;
  margin-top: 1.33rem;
  padding: .75rem;
}

.site-latest-block__list {
  margin: 0;
  padding: 0;
}

.site-latest-block li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: var(--size-300);
}

.site-latest-block li img {
  margin: 0;
}

.site-latest-block__title {
  margin: 0 !important;
  align-items: center;
  display: flex;
  gap: .35rem;
  font-size: 18px !important;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
}

.site-latest-block__title .icon {
  display: flex;
  align-items: center;
}

.site-latest-block__title .icon svg {
  height: 24px;
  width: auto;
}

.site-latest-block__title .icon svg path {
  fill: green;
}

.site-latest-block__list-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}